body {
    font-family: cursive;
    background: red;
    background-image: url(../../libs/img/japan-background.jpg);
    background-size: cover;
    margin: 0;
}

.common-container {
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 1000px;
    background-color: rgba(253, 253, 251, 0.336);
    margin: 0 auto;
}

h1 {
    font-size: 2em;
    text-shadow: 3px 3px 5px gray;
    color: red;
    font-weight: 900;
    text-align: center;
    margin: 20px;
    letter-spacing: 0.08em;
}
